/* Accordion.css */
.accordion-wrapper {
    border: 1px solid #000;
    margin-bottom: 10px;
}

.accordion-title {
    background: #f5f5f5;
    padding: 10px;
    cursor: pointer;
}

.accordion-title.open {
    background: #ddd;
}

.accordion-item {
    padding: 10px;
}


.RecipeInfo{
    font-size: 20px;
}

.WindowСhang{
    width: 250px; 
    height: 250px;
}

.block{
    margin: 12px;
    /* border: solid; */
}
