header{
    height: 100%;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
}
