.infoblock{
    border: 1px solid black;
    align-items: center;
    margin: 1.5rem;
    background-size: 50%;
}

.TotalDrinks{
    background-color: #1abc9c;
    color: aliceblue;
}


textarea{
  width: 200px;
  height: 200px;
}

.btn{
    width: 45%;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:after {
    padding: 0.5rem;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    content: "\f067";
}

.btn:before {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.icon-info:before {
    content: "\f067";
}
















.block{
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.block span {
  display: inline-block;
  min-width: 20%;
}

.ButtonInfo{
  margin: auto;
  width: 400px;
  position: relative;
  background-color: rgb(245, 244, 244);
  height: 64px;
  transition: all .15s ease-in-out;
}
.ButtonInfo input {
  display: none;
}

.ButtonInfo::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}


.boxtitle {
  padding: 5px;
  line-height: 24px;
  font-size: 16pt;
  color: rgba(0, 0, 0, 0.703);
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  background-color: rgb(246, 246, 246);
}


.buttonChange{
  margin: 0 10px;
  background-color: #1abc9c;
  color: aliceblue;
}
